In [65]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 5)

In [9]:
datafolder = 'input/'

In [10]:
shipments = pd.read_csv(datafolder+'shipments.csv')

In [12]:
shipments.shape

(208399, 19)

In [14]:
shipments.columns

Index(['shipment_id', 'user_id', 'city_from', 'city_to', 'state_from',
       'state_to', 'shipment_gps', 'lat_from', 'lat_to', 'lng_from', 'lng_to',
       'shipment_date', 'shipment_created', 'shipment_price',
       'shipment_sontra_price', 'shipment_price_type', 'shipment_weight',
       'weight_type_id', 'shipment_type'],
      dtype='object')

#### Convert city_from and city_to so String to concatenate them and create a column named Route

In [21]:
shipments['city_from'] = shipments['city_from'].astype(str)
shipments['city_to'] = shipments['city_to'].astype(str)

In [22]:
shipments['ROUTE'] = shipments['city_from'] + shipments['city_to']

In [56]:
top_routes = pd.DataFrame(shipments['ROUTE'])

In [57]:
top_routes.shape

(208399, 1)

In [58]:
top_routes = pd.DataFrame(top_routes.groupby(by=['ROUTE']).size()).reset_index()

In [59]:
top_routes.shape

(44322, 2)

In [60]:
top_routes.columns = ['ROUTE', 'SIZE']

### Rota mais comum

In [66]:
top_routes.sort_values(by='SIZE', ascending=False)

          ROUTE  SIZE
26952  82689422   516
42330  94229422   505
...         ...   ...
12600  56728180     1
22161  73714236     1

[44322 rows x 2 columns]